<?xml version="1.0"?>
<robot name="puzzlebot">

  <!-- Definición de materiales (debe ir al inicio del archivo) -->
  <material name="aqua_green">
    <color rgba="0.51 1 0.812 1"/>  <!-- Valores RGBA normalizados (0-1) -->
  </material>
  
  <material name="negro">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>

  <link name="base_footprint"/>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://puzzlebot/meshes/Puzzlebot_Jetson_Lidar_Edition_Base.stl" scale="1 1 1"/>
      </geometry>
      <material name="aqua_green"/>
    </visual>
  </link>

  <link name="wheel_r">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/> 
      <geometry>
        <mesh filename="package://puzzlebot/meshes/Puzzlebot_Wheel.stl"/>
      </geometry>
      <material name="negro"/>
    </visual>
  </link>

  <link name="wheel_l">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/> 
      <geometry>
        <mesh filename="package://puzzlebot/meshes/Puzzlebot_Wheel.stl"/>
      </geometry>
      <material name="negro"/>
    </visual>
  </link>

  <link name="caster">
    <visual>
      <geometry>
        <mesh filename="package://puzzlebot/meshes/Puzzlebot_Caster_Wheel.stl"/>
      </geometry>
      <material name="negro"/>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>

  <joint name="wheel_r_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_r"/>
    <origin xyz="0.052 -0.095 -0.0025" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="wheel_l_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_l"/>
    <origin xyz="0.052 0.095 -0.0025" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster"/>
    <origin xyz="-0.095 0 -0.03" rpy="0 0 0"/>
  </joint>

</robot>